{# Page about the photographer and website #}

{% extends 'fragments/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>About</h2>

    {# TODO: photo of me #}

    <p>Reece Jones is a photographer based in North Sydney, Australia.
        Starting out in 2023, his journey with photography has always been one of experimentating and learning.
        Reece works with a variety of photography styles and subjects, with his current passions including people, nature, and abstract.</p>

    {# TODO? show email dynamically on button press #}
    <p>Contact: reece (dot) jones131 (at) gmail (dot) com</p>
{% endblock %}

