{# Main photo gallery page #}

{% extends 'fragments/base.html' %}

{% block title %}Gallery{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ css.gallery }}">
    <script src="{{ js.gallery }}" defer></script>
{% endblock %}

{% block content %}
    <section>
        <h1>Gallery</h1>

        <noscript>
            <p>This page requires JavaScript to be enabled.<br>
                (Don't worry, it's not doing anything malicious! Only client-side filtering of the photo gallery.)</p>
        </noscript>

        <details class="gallery-filters-details">
            <summary class="gallery-filters-summary">
                <span>Filters</span>
            </summary>
            <div class="gallery-filters">
                <div class="filter-group">
                    <label for="genre-filter">Style:</label>
                    <select id="genre-filter">
                        <option value="">All</option>
                        {% for genre in genres %}
                            <option value="{{ genre }}">{{ genre|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-group">
                    <label for="year-filter">Year:</label>
                    <select id="year-filter">
                        <option value="">All</option>
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-group">
                    <label for="month-filter">Month:</label>
                    <select id="month-filter">
                        <option value="">All</option>
                        {% for month in months %}
                            <option value="{{ month }}">{{ month }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-group">
                    <label for="sort-direction">Sort:</label>
                    <select id="sort-direction">
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>
            </div>
        </details>

        <div class="photo-grid">
            {% for photo in photos %}
                <article class="photo-card" 
                        data-genre="{{ photo.genre|join(' ') }}"
                        data-year="{{ photo.date.year }}"
                        data-month="{{ '%02d' % photo.date.month }}"
                        data-sort-key="{{ photo.chronological_sort_key }}">
                    <a href="{{ photo.page_url }}">
                        <div class="photo-image">
                            <img src="{{ photo.image.default_url }}"
                                srcset="{{ photo.image.srcset_urls }}"
                                {# Determined based on the maximum image width and the section width #}
                                sizes="(max-width: 480px) 45vw, (max-width: 768px) 35vw, (max-width: 1024px) 30vw, 40vw"
                                alt="{{ photo.title or 'Photograph' }}"
                                loading="lazy"/>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
