{# Home page #}

{% extends 'fragments/base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ css.index }}">
{% endblock %}

{% block pre_content %}
    {# Put this outside the main element because that has padding.
        In this one case, we want it to span the full width of the viewport. #}
    <div class="hero-section">
        <img class="hero-image"
            src="{{ images['general/homepage_hero.jpg'].default_url }}"
            srcset="{{ images['general/homepage_hero.jpg'].srcset_urls }}"
            sizes="100vw"
            alt="Photography portfolio hero image"/>
        <div class="hero-content">
            <h1>Reece Jones</h1>
            <h2>Freelance Photographer | Sydney</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section>
        <h2>About</h2>
        {# TODO: say something more exciting! #}
        <p>Reece is a photographer based in North Sydney, Australia.
            He works with a variety of photography styles and subjects, including nature, still life, and people.</p>
        <a href="{{ pages.about }}" class="button">Learn More</a>
    </section>

    <section>
        <h2>Gallery</h2>
        <p>Explore a collection of the best works from the past {% if gallery_age == 1 %}year{% else %}{{ gallery_age }} years{% endif %}.</p>
        <a href="{{ pages.gallery }}" class="button">Visit Gallery</a>
    </section>
{% endblock %}

