{# Home page #}

{% extends 'fragments/base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ css.index }}">
{% endblock %}

{% block content %}
    <div class="hero-section">
        <img class="hero-image"
            src="{{ images['general/homepage_hero.jpg'].default_url }}"
            srcset="{{ images['general/homepage_hero.jpg'].srcset_urls }}"
            sizes="100vw"
            alt="Photography portfolio hero image"/>
        <div class="hero-content">
            <h1>Reece Jones</h1>
            <h2>Freelance Photographer | Sydney</h2>
            <p>Sharing the world through the lens</p>
            <a href="{{ pages.gallery }}" class="button hero-button">View Gallery</a>
        </div>
    </div>
{% endblock %}
