{# Page that shows a single photo with all its information. #}

{% extends 'fragments/base.html' %}

{% block title %}Gallery - {{ photo_page_title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ css.photo }}">
{% endblock %}

{% block content %}
    <section>
        <figure class="photo-figure">
            <img class="photo-image"
                src="{{ photo.image.default_url }}"
                srcset="{{ photo.image.srcset_urls }}"
                {# Determined based on the section width.
                    If the image is portrait then the width may be much smaller,
                    but I don't think there's a way to account for that because the browser doesn't know. #}
                sizes="(max-width: 480px) 90vw, (max-width: 768px) 80vw, (max-width: 1024px) 70vw, 60vw"
                alt="{{ photo.title or 'Photograph' }}"/>
            <figcaption class="photo-info">
                <div class="photo-header">
                    {% if photo.title %}
                        <h2 class="photo-title">{{ photo.title }}</h2>
                    {% endif %}
                    <p class="photo-date-location">
                        {{ photo.date.to_str('-') }}{% if photo.location %} at {{ photo.location }}{% endif %}
                    </p>
                </div>

                {# TODO: add set info #}
    
                {% if photo.description %}
                    <p class="photo-description">
                        {% for line in photo.description.splitlines() %}
                            {{ line }}<br>
                        {% endfor %}
                    </p>
                {% endif %}
    
                <div class="photo-meta">
                    {% if photo.settings %}
                        <p>{{ photo.settings|join(', ') }}</p>
                    {% endif %}
    
                    {% if photo.genre %}
                        <p>Styles: {{ photo.genre|map('capitalize')|join(', ') }}</p>
                    {% endif %}
                </div>
    
                {# TODO: add link to original image #}
                {# TODO: add copy link to this page #}
            </figcaption>
        </figure>
    </section>
{% endblock %}
