.hero-section {
    position: relative;
    margin-bottom: calc(var(--spacing-unit) * 2);
    overflow: hidden;
    height: fit-content;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    display: block;
}

.hero-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: calc(var(--spacing-unit) * 3);
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
    color: var(--color-background);
}

.hero-content h1 {
    margin: 0;
    font-size: 7.0rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.hero-content h2 {
    margin: var(--spacing-unit) 0;
    color: var(--color-background);
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .hero-content {
        padding: calc(var(--spacing-unit) * 2);
    }

    .hero-content h1 {
        font-size: 5.0rem;
    }

    .hero-content h2 {
        font-size: 2.0rem;
    }
}
