/* All pages have default margin and padding except the homepage. Want it to take up the whole screen. */
main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.hero-section {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: calc(100vh - var(--approx-header-height));
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.hero-content {
    position: relative;
    text-align: center;
    color: var(--colour-text-inverted);
    z-index: 1;
    padding: var(--spacing);
    margin: 0 auto;
}

.hero-content h1 {
    margin: 0;
    font-size: 5.5rem;
    text-shadow: 3px 3px 5px var(--colour-shadow-hover);
    font-weight: var(--font-weight-bold);
}

.hero-content h2 {
    margin: var(--spacing) 0;
    font-size: 2rem;
    text-shadow: 2px 2px 4px var(--colour-shadow-hover);
    font-weight: var(--font-weight-medium);
}

.hero-content p {
    font-size: var(--font-size-large);
    margin: var(--spacing) 0;
    text-shadow: 1px 1px 2px var(--colour-shadow-hover);
    opacity: 0.9;
}

.hero-button {
    background-color: var(--colour-background);
    color: var(--colour-text);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    box-shadow: var(--box-shadow);
}

.hero-button:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow-hover);
    background-color: var(--colour-background-inverted);
    color: var(--colour-text-inverted);
}

/* Mobile */
@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 3.5rem;
    }

    .hero-content h2 {
        font-size: 1.5rem;
    }
}
