<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ css.main_stylesheet }}">
        {% block head %}{% endblock%}
        <title>Reece Jones Photography - {% block title required %}{% endblock %}</title>
    </head>
    <body>
        {# TODO: not on title page? #}
        <header>
            <h1><a href="/">Reece Jones Photography</a></h1>
        </header>

        <main>
            {% block content required %}{% endblock %}
        </main>

        <footer>
            <p>© Reece Jones {{ copyright_date }}</p>
        </footer>
    </body>
</html>
