{# Home page #}

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {# TODO: home page image #}

    <section>
        <h2>About</h2>
        <p>Reece is a photographer based in Sydney, Australia.
            He works with a variety of photography styles and subjects, including nature, still life, and people.</p>
        <p><a href="{{ urls.about }}">More info</a></p>
    </section>
    <section>
        <h2>Gallery</h2>
        <h3><a href="{{ urls.gallery_by_style }}">By Style</a></h3>
        <h3><a href="{{ urls.gallery_by_date }}">By Date</a></h3>
    </section>
{% endblock %}

