{# Fragment containing a photo accompanied by all its information #}

<figure>
    <img class="photo_image" src="{{ photo.image_url }}"/>
    <figcaption>
    {% if photo.title %}
        <p class="photo_title">"{{ photo.title }}"</p>
    {% endif %}
    {% if photo.location %}
        <p class="photo_location">{{ photo.location }}</p>
    {% endif %}
    {% if photo.description %}
        <p class="photo_description">{{ photo.description }}</p>
    {% endif %}
    {% if photo.settings %}
        <p class="photo_settings">{{ photo.settings|join(', ') }}</p>
    {% endif %}
        {# TODO: these can be links to that genre's page #}
        <p class="photo_genre">{{ photo.genre|map(attribute='value')|map('capitalize')|join(' | ') }}</p>
    </figcaption>
</figure>
